.qa-operation
  margin: 5px

.qa-form
  border solid 1px #CCC
  border-radius 5px
  margin 10px
  padding: 10px

.qa-list

  .qa-list-item

    .qa-list-item-question
      display block

    .qa-list-item-answer
      display block
      margin-top 10px
      padding-top 5px
      border-top solid 1px #CCC


